// theme
$theme_c:${theme_color};						//主题色 var(--bgColor)

// text-color
$t_first_c: ${text_color_first};  					//一级文字色
$t_second_c: ${text_color_second};					//二级文字色
$t_third_c: ${text_color_third};					//三级文字色
$t_fourth_c: ${text_color_fourth};					//四级文字色
$t_link_c: ${text_color_link};						//链接文字色
$t_button_c: ${button_color_common};				//通用按钮文字色
$bg_cancel_c: ${background_color_common};		    //通用背景色

// background-color
$bg_button_c: ${button_bgColor_common};

:root {
    --bgColor:  #{$theme_c};
}
